/* common.css 모든 웹페이지 공통 css ==common */
/* common.css == header, footer 공통영역 Design */
/* Firefox */
html {scrollbar-width: 10px;;scrollbar-color: #222 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 10px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #1768B2;}
/* header */
header {
    background:aq;
    width:calc(100% - 60px); height:100px;
    margin:0 auto;
    display:flex; flex-flow:row nowrap;
    align-items:center; justify-content:space-between;
}
header h1 {
    width:213px;
}
header h1 img {width:100%;}
header .right {
    display:flex; flex-flow:row nowrap;
    align-items:center;
}
header .right > *{margin-left:15px;} 
header .right .lang {margin-left:0;}
header .right #searchFrm {
    background:#222;
    border-radius:15px; width:300px;
}
header .right #searchFrm fieldset {
    height:40px; padding:0 15px;
    display:flex; justify-content:space-between; align-items:center;
}
header .right #searchFrm fieldset #searchTxt {
    background:none; color:#fff;
}
header .right #searchFrm fieldset #searchTxt::placeholder {color:#fff}
header .right #searchFrm fieldset #searchBtn {
    background:none; width:24px; height:24px;
}
header .right #searchFrm fieldset #searchBtn img {width:100%;}
header .right #login, header .right #cart, header .right #menu {width:40px; height:40px;}
header .right #login img, header .right #cart img, header .right #menu img {width:100%;}
header .right #cart {}
header .right #cart img {}
header .right #menu {}
header .right #menu img {}
/* open_nav */
header #open_nav {
    position:fixed; left:0; top:0; z-index:999;
    width:100%; height:100vh;
    background:#f1f1f1;
    overflow-y:auto;
    /* 웹브라우저 y축 기준으로 내용이 넘칠 경우 스크롤을 표시하고 넘치지 않으면 스크롤을 숨긴다. */
}
header #open_nav #nav_close {
    position:absolute; right:100px; top:100px;
    width:40px; height:40px;
}
header #open_nav #nav_close img {width:100%;}
/* swiper-slide nav-adver */
header #open_nav #nav_adver {
    max-width:1000px;
    text-align:center;
    margin:50px auto;
}
header #open_nav #nav_adver .swiper-wrapper .swiper-slide a {
    font-size:1.333rem; line-height:24px;
}
header #open_nav #nav_adver .swiper-button-prev,
header #open_nav #nav_adver .swiper-button-next {
    top:22px; width:24px; height:24px;
}
header #open_nav #nav_adver .swiper-button-prev {
    background:url(../images/adver_prev.png);
}
header #open_nav #nav_adver .swiper-button-next {
    background:url(../images/adver_next.png);
}
header #open_nav #nav_adver .swiper-button-prev::after,
header #open_nav #nav_adver .swiper-button-next::after {display:none;}
/* open-nav nav */
header #open_nav nav {
    display:flex; flex-flow:column nowrap;
    align-items:center; margin-top:80px;
}
header #open_nav nav a {
    font-size:3.157rem; font-weight:700;
    line-height:100px; letter-spacing:-0.02em;
    transition:all 0.5s;
}
header #open_nav nav a:hover {
    color:#1768B2; transform: translateY(-10px);
}
/* footer */
footer {width:calc(100% - 60px); margin:0 auto;}
footer .f_menu {
    display:flex; margin-top:100px;
}
footer .f_menu dl {}
footer .f_menu dl dt {
    font-size:1.333rem; font-weight:500;
    margin-bottom:30px;
}
footer .f_menu dl dd a {
    line-height:30px; color:#888;
}
footer .f_menu dl dd a:hover {
    color:#000; font-weight:500;
}
footer .f_menu .service {}
footer .f_menu .law {margin:0 130px;}
footer .f_menu .sns {}
footer .f_copy {
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
    margin:50px 0;
}
footer .f_copy p {width:213px; margin-top:10px;}
footer .f_copy p img {width:100%;}
footer .f_copy address {line-height:30px;}
footer .f_copy address a {text-decoration:underline;}